FIREBASE_API_KEY=AIzaSyBgz9ap003yuzCZhzdmrtU6GjrtnUnnD6E
FIREBASE_AUTH_DOMAIN=toko-online-af1a6.firebaseapp.com
FIREBASE_PROJECT_ID=toko-online-af1a6
FIREBASE_STORAGE_BUCKET=toko-online-af1a6.appspot.com
FIREBASE_MESSAGING_SENDER_ID=658157502001
FIREBASE_APP_ID=1:658157502001:web:adf56d8ddc789b6d289f10