FIREBASE_API_KEY=AIzaSyA0jef46qNH49fbBY9AaosM1LI3riArcu4
FIREBASE_AUTH_DOMAIN=tianstore-d5336.firebaseapp.com
FIREBASE_PROJECT_ID=tianstore-d5336
FIREBASE_STORAGE_BUCKET=tianstore-d5336.appspot.com
FIREBASE_MESSAGING_SENDER_ID=579879756248
FIREBASE_APP_ID=1:579879756248:web:dad5095f9015f7c65112ad


NEXTAUTH_SECRET=tianreformis

# GOOGLE_OAUTH_CLIENT_ID=1052610182379-74630uucmkt0chs4f2tcfel3i33q299j.apps.googleusercontent.com
# GOOGLE_OAUTH_CLIENT_SECRET=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

GOOGLE_OAUTH_CLIENT_ID=579879756248-p6t6l7v7hh6ke04eeh8orupt0n1m31rp.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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